// Vars
$containerPadding: 0 10px;

// styles
#root {
  nav > ul {
    padding: $containerPadding;
  }

  main {
    padding: $containerPadding;

    // Für alle SpaceFunktionen direkt in main damit diese sich über 100% erstrecken
    > .ant-space {
      width: 100%;
    }
  }
}
